body {
    margin: 0;
}

.wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
}

.calc-container {
    height: 600px;
    width: 450px;
    background-color: black;
    margin: auto;
    background-image: url("images/img-noise-370x470.png");
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px grey;
}

.display{
    width: auto;
    height: 20%;
    margin: auto;
    display: flex;
}

output {
    width: 95%;
    height: 70%;
    margin: auto;
    background-color: white;
    border-radius: 15%;
    border: 2px solid blue;
}

.button-container {
    background: red;
    display: contents;
}

.row-container {
    height: 15%;
    display: flex;
    width: 85%;
    align-items: center;
    margin: auto;
}

.number-button {
    height: 100%;
    width: 25%;
    border-radius: 40%; 
    outline: none;
    border: 1px solid blue;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;

    background-color: #4CAF50;
    box-shadow: 6px 6px 0px grey;
}
.number-button:hover {
    
    background-color: blue;
    color: white;
    cursor: pointer;
}
.number-button:active {
    background-color: black;
    color: white;
    cursor: pointer;

    /* background-color: #3e8e41; */
    box-shadow: 6px 6px 0px grey;
    transform: scale(.9);
    
  
}
.row-container:nth-child(5) .button-container:first-child button {
    width: 50%
}
.row-container:first-child .button-container:nth-child(4) .number-button {
    background-image: url(images/divid.png);
    background-size: 47px;
    background-position: center;
    background-repeat: no-repeat;
}


