body {
  margin: 0; 
}
.main-div {
  height: 100vh;
  width: 100%;
  background-color: cyan;
  display: flex;
  position: relative;
}
.move-me {
  background-color: forestgreen;
  height: 100px;
  width: 100px;
  cursor: move;
  display: flex;
}
.inner-div {
  height: 75px;
  width:  75px;

}